@use '../../styles/var' as *;

.about-cont {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: visible;
  .about {
  padding-inline: var(--padding);

    background-color: #faf1dc;
    display: flex;
    flex-direction: column;
    .text {
      .header {
        font-family: $heading-font;
        font-size: calc(44px + 1.5vw);
        letter-spacing: 1px;
        margin-bottom: 3px;
        white-space: nowrap;
        color: $primary-color;
        font-weight: lighter;
        line-height: 1.2em;
        margin-bottom: 1.4rem;
      }
      .description {
        font-family: $p-font;
        color: $primary-color;
        font-size: calc(12px + 1.1vw);

        text-align: justify;
      }
    }
    .ferris-wheel {
      padding-bottom: 2.5rem;
    }

    padding-top: clamp(1rem, calc(5rem - 5vw), 5rem);
    padding-bottom: clamp(1rem, calc(5rem - 5vw), 5rem);
  }

  .opportunities {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4a090b;
    width: 100%;
    height: auto;
    padding-bottom: 2rem;

    

    .oppor-title {
      color: #faf1dc;
      margin: 4rem 0 4rem 0;
      font-family: $p-font;
      font-weight: normal;
      font-size: 2rem;
    }

    .items {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        img {
          max-width: 45vw;
          margin-bottom: 1rem;
        }
        width: 60vw;
        height: auto;
        text-align: center;
        color: #faf1dc;
        font-size: 1.2rem;
        margin-bottom: 3rem;
      }
    }
  }

  .faq {
    width: 100%;
    padding: 10rem var(--padding) 10rem var(--padding);
    .faq-title {
      font-family: $heading-font;
      font-weight: lighter;
      font-size: 2rem;
      padding-bottom: 6vw;
      color: #4a090b;
    }
  }
}



@media screen and (min-width: 769px) {
  .about-cont {
    padding-top: clamp(1rem, calc(6.5rem - 5vw), 6.5rem);
    padding-bottom: clamp(1rem, calc(6.5rem - 5vw), 6.5rem);
    .about {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 8vw;

      .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .header {
          font-size: calc(40px + 1.5vw);
          line-height: 1.2em;
          width: 25vw;
        }
        .description {
          font-size: calc(5px + 1.1vw);

        }

        width: 34vw;
        height: 30vw;
      }
      .ferris-wheel {
        width: 34vw;
      }
    }
    .opportunities {
      .oppor-title {
        font-size: 3.5vw;
      }
      .items {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 12vw;
        .item {
          max-width: 24vw;
          img {
            max-width: 20vw;
          }
          h3 {
            font-size: calc(16px + 1vw);
            font-weight: lighter;
            color: #FAF1DC;
          }
        }
      }
    }
    .faq {
      .faq-title {
        font-size: 4vw;
        width: 60vw;
      }
    }
  }
}
