@use '../../styles/var.scss';
@use '../../styles/base.scss';

.featured-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: clamp(1rem, calc(6.5rem - 5vw), 6.5rem);
  padding-bottom: clamp(1rem, calc(6.5rem - 5vw), 6.5rem);

  .featured {
    padding-inline: var(--padding);
    display: flex;
    flex-direction: column;

    .left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 34vw;
      height: 30vw;
    }
  }

  .right {
    svg {

      @media screen and (max-width: 900px) {
        width: 90vw;
      }
    }
  }
}

.left {
  width: 32vw;

  @media screen and (max-width: 900px) {
    width: 100%;
  }

  h1 {
    margin-bottom: 2rem;
    text-transform: uppercase;
    line-height: 1.2em;
  }
  p {
    text-align: justify;
  }
}

.domes {
  background-color: var.$primary-color;
  border: none;
  height: auto;
  width: 100%;
}
.domes-mobile {
  height: auto;
  width: 100%;
  object-fit: cover;
  display: block;
}
.domes-desktop {
  display: none;
  margin-top: 0px;
}

.attending {
  background-color: var.$primary-color;
  padding: 8vw 4vw;
  margin-bottom: 10rem;

  @media screen and (max-width: 600px) {
    padding: 12vw 10vw;
  }

  h2 {
    font-size: 1.4rem;
    color: var.$secondary-color;
    text-align: center;
    margin-bottom: 5.5rem;

    @media screen and (max-width: 900px) {
      margin-bottom: 3.5rem;
    }
  }

  .companies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 16vw;
    gap: 1.5rem;

    .item {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5rem;
      img {
        object-fit: cover;
        width: 100%;
      }
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      grid-auto-rows: 300px;
    }

    @media screen and (max-width: 600px) {
      grid-template-columns: 1fr;
      grid-auto-rows: 160px;
    }

    .item {
      background-color: var.$secondary-color;
      width: 100%;
      justify-self: center;
    }
  }

  @media screen and (max-width: 768px) {
    padding: 12vw 12vw;
  }
}

@media screen and (min-width: 768px) {
  .featured {
    .left {
      h1 {
        font-size: calc(40px + 1.5vw);
        font-weight: lighter;
      }
      p {
        font-size: calc(5px + 1.1vw);
      }
    }
  }

  .domes-mobile {
    display: none;
  }
  .domes-desktop {
    height: auto;
    display: block;
    margin-top: 0px;
    object-fit: cover;
    aspect-ratio: 26/1;
  }

  .attending {
    h2 {
      font-size: 2.5rem;
    }
  }
  .companies {
    gap: 3rem;
  }
}

@media screen and (min-width: var.$desktop) {
  .domes-desktop {
    width: 100%;
    object-fit: cover;
    display: block;
  }
}
