@use "./var";

body {
  background-color: var.$secondary-color;
}

* {
  margin: 0;
}

h1,
h2,
p {
  color: var.$primary-color;
}

h1 {
    font-family: var.$heading-font;
    font-size: 4rem;
    line-height: 106%;
    text-transform: uppercase;
    font-weight: lighter;
  
    @media only screen and (max-width: var.$mobile) {
      font-size: 3rem;
    }
}

h2 {
    font-family: var.$subheading-font;
    font-size: 3rem;
    font-weight: lighter;
  
    @media only screen and (max-width: var.$mobile) {
      font-size: 2rem;
    }
}

p {
    font-family: var.$p-font;
    font-size: 1.25rem;
    line-height: 140%;
  
    @media only screen and (max-width: var.$mobile) {
      font-size: 1rem;
    }
}