.hero-container {
  margin-top: 15px;
  position: relative;
  display: flex;
  flex-direction: column;


  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column-reverse;
  }
}
.hero-svg-container {

  @media screen and (max-width: 768px) {
    svg {
        min-width: calc(600px + 30vw);
    }
    // min-height: 549px;
  }
}
