@use '../../styles/var.scss';
@use '../../styles/base.scss';

.apply {
    padding: 10vw 12vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;

    @media screen and (max-width: 900px) {
        padding: 16vw 5vw;
        flex-direction: column;
    }

    .left-content {
        width: 70%;

        @media screen and (max-width: 900px) {
            width: 100%;
            margin-bottom: 4rem;
        }
    }

    .right-content {
        text-align: right;
    }
}