@use '../../styles/var.scss';
@use '../../styles/base.scss';

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem 8vw;
    margin: 0 auto;
    background-color: var.$primary-color;

    @media screen and (max-width: 600px) {
        .content-2 {
            display: none;
        }
    }

    p {
        color: var.$secondary-color;

        @media screen and (max-width: 600px) {
            font-size: 1.25rem;
        }
    }

    img {
        margin: 0 0.5rem;
    }

    .content-1 {
        display: flex;
        flex-direction: row;

        @media screen and (max-width: 600px) {
            margin: auto;
        }
    }
}

.apply {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
  
    p {
      font-family: 'NB International Mono';
      font-size: calc(24px + 2vw);
      text-transform: uppercase;
  
    }
  
    .left-content {
      overflow: hidden;
      white-space: nowrap;
    }
  
  
    .right-content {
      align-self: flex-end;
  
      img {
        margin-left: auto;
      }
  
      a {
        text-decoration: none;
      }
    }
  
    @media screen and (max-width: 768px) {
      flex-direction: column;
      
    }
  }

